
body {
    font-family: 'Sen', sans-serif;
}

section:not(#logos) {
    padding-bottom: 100px;
}

section .h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

section .h2 {
    font-size: 20px;
    color: rgb(158, 165, 181);
}
/* Header Style */

.navbar {
    margin-bottom: 0px;
    min-height: 40px;
    border-radius: 0;
}
.navbar-fixed-top {
    border-radius: 0;
}
#header-bottom .navbar-brand svg {
    fill: #0069ff;
}

#header-top {
    font-size: 12px;
}

#header-top .li-top-left {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header-top .navbar-nav>.li-top-right>a, .navbar-nav>.li-top-left>a   {
    margin: 0 1px 0 2px;
    font-weight: 600;
    color: #5b6987;
}

#header-top .navbar-nav>.li-top-right>a {
    padding: 10px 15px 10px 5px;
}

#header-top .navbar-nav>.li-top-left>a {
    padding: 10px 0;
}

#header-top .li-top-left span {
    background-color: rgb(0, 215, 210);
    color: black;
    padding: 2px 3px;
    border-radius: 4px;
    font-weight: 500;
}

#header-bottom .bottom-menu>li>a {
    color: black;
    font-weight: 600;
}

#header-bottom .bottom-menu>li>a>i {
    vertical-align: middle;
}
#header-top .li-top-left>a:hover ,
#header-bottom .bottom-menu>li>a:hover {
    color: rgb(0, 73, 255);
}

#header-top .li-top-right>a:hover {
    color: #5b6987;
}

#header-bottom .bottom-menu>li>a,
#header-bottom .navbar-brand {
    padding-top: 20px;
}
#header-bottom .navbar-brand {
    padding-top: 10px;
    margin-right: 20px;
}

#header-bottom .navbar-nav>li>.btn {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    color: rgb(0, 73, 255);
    border-color: rgb(0, 73, 255);
    font-weight: 600;
}

#header-bottom .navbar-nav>li>.btn:hover {
    background-color: rgb(0, 73, 255);
    color: white;
}

/* Jumbotron Style */
#jumbotron {
    padding-top: 41px;
    background-image: url(img/bgf.jpg);
    color: white;
}

#jumbotron #fake-header i {
    opacity: 0.5;
}
#jumbotron .navbar-default {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0) ;
}
#jumbotron .navbar-right>li {
    margin-right: 15px;
    margin-top: 6px;
    line-height: 52px;
    font-size: 25px;
    float: right;
}
#jumbotron .navbar-right {
    float: right;
}

#jumbotron .navbar-right, #jumbotron .navbar-header {
    display: inline-block;
}

#jumbotron .navbar-brand {
    float: left;
}

#jumbotron .navbar-brand svg {
    fill: white;
}
/* sistemare margin-top del form e del testo */
#jumbotron .jumbo-text {
    margin-top: 100px;
    margin-bottom: 20px;
}

#jumbotron .form-wrapper {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    color: #5b6987;
}

#jumbotron .form-control {
    padding: 20px 12px;
    border: 1px solid #eee;
    font-size: 16px;
}

#jumbotron h1 {
    font-size: 54px;
    font-weight: bold;
}

#jumbotron h4 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
#jumbotron p {
    font-size: 24px;
    color: rgb(161, 186, 255);
}

.divider {
    position: relative;
    padding: 15px 0;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    width: calc((100% - 120px) / 2);
    top: 50%;
    transform: translateY(-50%);
    height: 0.5px;
    background-color: #ddd;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

#jumbotron .create-btn {
    color: white;
    background-color: rgb(0, 73, 255);
    padding: 10px 0;
}

#jumbotron .create-btn:hover {
    background-color: blue;
}

#jumbotron .btn-lg {
    width: calc((100% - 35px) / 2);
}

#jumbotron .btn-lg span {
    font-weight: bold;
}

#jumbotron .btn-lg:first-of-type {
    margin-right: 30px;
}

#jumbotron .btn-default {
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
}

#jumbotron .btn-default i {
    padding-left: 0;
}

#jumbotron .btn-default:hover {
    background: #d5e4f7;
}

#jumbotron .small {
    padding-top: 30px;
    display: inline-block;
    margin-top: 15px;
}
#jumbotron .small a {
    text-decoration: underline;
    color: rgb(0, 73, 255);
}

/* Logos section style */

#logos {
    background-color: rgb(243, 245, 249);
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo-container {
    height: 50px;
}

#logos .row > div:first-child {
    margin-bottom: 20px;
}

#logos .row > div:last-child {
    margin-top: 20px;
}

#logos img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#logos p {
    color: rgb(168, 175, 193);
    font-weight: bold;
}

#logos a {
    font-size: 16px;
    color: #0069ff;
}

#logos a:hover {
    color: #0069ff;
    text-decoration: none;
}

#logos a i {
    vertical-align: middle;
}

/* Deploy section style */

#deploy {
    padding-top: 100px;
}

#deploy .row:nth-of-type(2) {
    margin-top: 40px;
}

#deploy ul {
    padding-inline-start: 0px;
}
#deploy ul>li {
    list-style-type: none;
    padding: 15px 15px;
    border-left: 1px solid rgb(168, 175, 193);
}

#deploy ul>li:first-of-type {
    border-left: 1px solid #0069ff;
}

#deploy ul>li>a {
    color: rgb(168, 175, 193);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

#deploy ul>li:first-of-type>a {
    color: rgb(3, 26, 77);
}

#deploy ul>li>a:hover {
    color: rgb(3, 26, 77);
}

#deploy .h4 {
    font-size: 20px;
    color: rgb(3, 26, 77);
}

#deploy .h5 {
    font-size: 18px;
    color: rgb(168, 175, 193);
}

/* design section style */

#design {
    background-color: rgb(243, 245, 249);
    padding-top: 100px;
}

#design .img-wrapper {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#design .img-wrapper::before,
#design .img-wrapper::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 50px;
}

#design .img-wrapper::before {
    left: 5%;
    content:"\f104";
    color: rgb(168, 175, 193);
}

#design .img-wrapper::after {
    right: 5%;
    content: " \f105";
    color: rgb(3, 26, 77);
}

#design .h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

#design a {
    font-size: 10px;
    padding: 4px;
    color: #0069ff;
}

@media (max-width:768px) {
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
    }

    #header-top .navbar-nav, #jumbotron .navbar-nav {
        margin: 0;
    }

    #jumbotron .btn-lg {
        padding-left: 10px;
    }

    #design .img-wrapper::before,
    #design .img-wrapper::after {
        content: "";
    }
}


@media (max-width:992px) {
    #jumbotron h1 {
        font-size: 40px;
    }

    .jumbo-text, .form-wrapper {
        margin-top: 50px;
    }
}

@media (min-width:992px) {
    #jumbotron {
        padding-top: 200px;
    }
}
